<!-- result.hbs -->

<!-- HTML template for the result page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body Mass Index Calculator</title>
    <link rel="stylesheet" href="/styles/style.css"> <!-- Link to CSS file -->
</head>
<body>
    <div class="container mt-5 bg-success text-white p-3">
        <h1 class="mb-4">Body Mass Index Calculator</h1>
       <h1 class="result-heading">Result</h1> <!-- Add a class to the "result" heading -->
        <p>Your BMI is: {{ bmi }}</p>
        
    </div>
</body>
</html>
