body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  color: #060806;
}

header {
  text-align: center;
}

main {
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: #0c8f0e;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
 
    width: 50%;
  
}

button {
  background-color: #7e807e;
  color: rgb(227, 235, 230);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

/* style.css */
body {
background-color: rgb(10, 194, 10); /* Set the background color of the body to green */
margin: 0; /* Remove default margin */
padding: 0; /* Remove default padding */
}

/* style.css */
.form-group {
margin-bottom: 15px; /* Add margin bottom for spacing */
}

.form-group label {
display: inline-block; /* Display labels as inline-block */
width: 150px; /* Set width for labels */
}

.form-group input[type="number"] {
display: inline-block; /* Display input fields as inline-block */
width: 100px; /* Set width for input fields */
padding: 5px; /* Add padding for spacing */
}
